<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find tm_description)/xacro/macro.inertial.xacro" />

  <xacro:macro name="tm_links" params="prefix physical_params">

    <link name="${prefix}link_0">
        <visual>
          <geometry>
            <mesh filename="package://tm_description/meshes/tm7s/visual/tm7s-base.obj" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <cylinder radius="0.0635" length="0.072"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.036" />
        </collision>
        <collision>
          <geometry>
            <box size="0.02 0.05 0.065"/>
          </geometry>
          <origin rpy="0 0 0" xyz="-0.0615 0 0.0325" />
        </collision>
        <collision>
          <geometry>
            <box size="0.177 0.025 0.012"/>
          </geometry>
          <origin rpy="0 0 ${radians(45)}" xyz="0 0 0.006" />
        </collision>
        <collision>
          <geometry>
            <box size="0.177 0.025 0.012"/>
          </geometry>
          <origin rpy="0 0 ${radians(-45)}" xyz="0 0 0.006" />
        </collision>
        <collision>
          <geometry>
            <box size="0.143 0.1075 0.012"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.006" />
        </collision>
        <collision>
          <geometry>
            <box size="0.1075 0.143 0.012"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.006" />
        </collision>
    <!--inertial-->
        <xacro:cylinder_inertial_z radius="${physical_params['link_0']['radius']}" length="${physical_params['link_0']['length']}" mass="${physical_params['link_0']['mass']}">
          <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
        </xacro:cylinder_inertial_z>
      </link>

    <link name="${prefix}link_1">
        <visual>
          <geometry>
            <mesh filename="package://tm_description/meshes/tm7s/visual/tm7s-j1.obj" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <cylinder radius="0.0635" length="0.17475"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.00275" />
        </collision>
        <collision>
          <geometry>
            <cylinder radius="0.0635" length="0.07"/>
          </geometry>
          <origin rpy="${radians(90)} 0 0" xyz="0 -0.037 0" />
        </collision>
        <inertial>
          <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
          <mass value="${physical_params['link_1']['mass']}" />
          <inertia ixx="${physical_params['link_1']['ixx']}" ixy="0.0" ixz="0.0" iyy="${physical_params['link_1']['iyy']}" iyz="0.0" izz="${physical_params['link_1']['izz']}" />
        </inertial>
      </link>

    <link name="${prefix}link_2">
        <visual>
          <geometry>
            <mesh filename="package://tm_description/meshes/tm7s/visual/tm7s-a1.obj" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <cylinder radius="0.0635" length="0.17475"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 -0.15175" />
        </collision>
        <collision>
          <geometry>
            <cylinder radius="0.0635" length="0.329"/>
          </geometry>
          <origin rpy="0 ${radians(90)} 0" xyz="${0.329/2} 0 -0.15" />
        </collision>
        <collision>
          <geometry>
            <cylinder radius="0.0635" length="0.17475"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0.329 0 -0.15175" />
        </collision>
        <inertial>
          <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
          <mass value="${physical_params['link_2']['mass']}" />
          <inertia ixx="${physical_params['link_2']['ixx']}" ixy="0.0" ixz="0.0" iyy="${physical_params['link_2']['iyy']}" iyz="0.0" izz="${physical_params['link_2']['izz']}" />
        </inertial>
      </link>

    <link name="${prefix}link_3">
        <visual>
          <geometry>
            <mesh filename="package://tm_description/meshes/tm7s/visual/tm7s-a2.obj" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <cylinder radius="0.0635" length="0.101"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 -0.022" />
        </collision>
        <collision>
          <geometry>
            <cylinder radius="0.044" length="0.298"/>
          </geometry>
          <origin rpy="0 ${radians(90)} 0" xyz="${0.298/2} 0 -0.01625" />
        </collision>
        <collision>
          <geometry>
            <cylinder radius="0.05" length="0.136"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0.298 0 -0.022" />
        </collision>
        <inertial>
          <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
          <mass value="${physical_params['link_3']['mass']}" />
          <inertia ixx="${physical_params['link_3']['ixx']}" ixy="0.0" ixz="0.0" iyy="${physical_params['link_3']['iyy']}" iyz="0.0" izz="${physical_params['link_3']['izz']}" />
        </inertial>
      </link>

    <link name="${prefix}link_4">
        <visual>
          <geometry>
            <mesh filename="package://tm_description/meshes/tm7s/visual/tm7s-j5.obj" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <cylinder radius="0.05" length="0.06"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0.031" />
        </collision>
        <collision>
          <geometry>
            <cylinder radius="0.05" length="0.135"/>
          </geometry>
          <origin rpy="${radians(90)} 0 0" xyz="0 -0.0055 0" />
        </collision>
        <inertial>
          <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
          <mass value="${physical_params['link_4']['mass']}" />
          <inertia ixx="${physical_params['link_4']['ixx']}" ixy="0.0" ixz="0.0" iyy="${physical_params['link_4']['iyy']}" iyz="0.0" izz="${physical_params['link_4']['izz']}" />
        </inertial>
      </link>

    <link name="${prefix}link_5">
        <visual>
          <geometry>
            <mesh filename="package://tm_description/meshes/tm7s/visual/tm7s-j6.obj" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <cylinder radius="0.05" length="0.06"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 -0.031" />
        </collision>
        <collision>
          <geometry>
            <cylinder radius="0.05" length="0.135"/>
          </geometry>
          <origin rpy="${radians(90)} 0 0" xyz="0 -0.0055 0" />
        </collision>
        <inertial>
          <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
          <mass value="${physical_params['link_5']['mass']}" />
          <inertia ixx="${physical_params['link_5']['ixx']}" ixy="0.0" ixz="0.0" iyy="${physical_params['link_5']['iyy']}" iyz="0.0" izz="${physical_params['link_5']['izz']}" />
        </inertial>
      </link>

    <link name="${prefix}link_6">
        <visual>
          <geometry>
            <mesh filename="package://tm_description/meshes/tm7s/visual/tm7s-io.obj" />
          </geometry>
        </visual>
        <collision>
          <geometry>
            <cylinder radius="0.05" length="0.065"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 -0.032" />
        </collision>
        <collision>
          <geometry>
            <box size="0.075 0.059 0.1175"/>
          </geometry>
          <origin rpy="0 0 0" xyz="-0.001 0.076 -0.008" />
        </collision>
        <inertial>
          <origin rpy="0.000000 0.000000 0.000000" xyz="0.000000 0.000000 0.000000" />
          <mass value="${physical_params['link_6']['mass']}" />
          <inertia ixx="${physical_params['link_6']['ixx']}" ixy="0.0" ixz="0.0" iyy="${physical_params['link_6']['iyy']}" iyz="0.0" izz="${physical_params['link_6']['izz']}" />
        </inertial>
      </link>

  </xacro:macro>

</robot>
